/* ==UserStyle==
@name           NHK Easy Print
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Print style NHK News Easy articles, only active when printing
@author         Joshua Woehlke
==/UserStyle== */

@-moz-document domain("www3.nhk.or.jp") {
    @media print {
        /* hide page elements */
        header { display: none !important; }
        aside { display: none !important; }
        main > section { display: none !important; }
        div.article-share { display: none !important; }
        div#js-regular-news-wrapper { display: none !important; }
        div.article-top-tool { display: none !important; }
        article a.disaster-banner { display: none !important; }

        /* unwrap padding and margin constraints */
        main, article, #easy-wrapper div {
            margin: 0px !important;
            padding: 0px !important;
            width: auto !important;
            max-width: 100% !important;
        }
        div.l-container {
            display: block !important;
        }

        /* hide images and video -- comment to allow */
        div.article-figure { display: none; }
        article img { display: none !important; }
    }
}